@import "../../vars"
@import "../../bootstrap"
@import "sass/header/index"
@import "sass/nav/breadcrumb"
@import "sass/nav/secondary_menu"
@import "sass/nav/sub_menu"

.feather
  width: 16px
  max-height: 16px
  display: inline

a
  +color-link()

a, button
  transition: all .075s linear



.albert
  +hightlight()

.albert-rewrite
  .o_main
    .o_control_panel
      background-color: transparent


.o_view_manager_content
  .table-responsive
    margin: 0 20px
    padding: 20px
    background-color: #fff
    border-radius: 3px
    +shadow(1)


.o_control_panel
  padding: 20px
  border-bottom: 0 none

.o_list_buttons
  > button
    margin-right: 10px