=longtail--plain()
  .priority-nav
    white-space: nowrap

    .priority-nav-has-dropdown
      .priority-nav__dropdown-toggle
        position: relative

    .priority-nav__wrapper
      position: relative

    .priority-nav__dropdown
      position: absolute
      visibility: hidden
      transition: opacity .05s linear
      opacity: 0

      &.show
        visibility: visible
        opacity: 1
        +animate('flipInX')

    .priority-nav-toggle
        position: absolute
        visibility: hidden

    .priority-nav-is-visible
      visibility: visible

    .priority-nav-is-hidden
      visibility: hidden


=longtail()

  position: relative

  .menu

    &__items
      display: inline-block !important

    &__item
      display: inline-block

    &__tail

      display: inline-block
      vertical-align: middle
      height: 100%

      border: 0
      padding: 0 10px
      background: transparent
      cursor: pointer
      letter-spacing: .15em

      color: gray

      transform: rotate(90deg)

      &:hover,
      &:active,
      &:focus
        outline: none
        +color('grey')

      &.is-open
        transform: rotate(0deg)
        +color('master')

  .dropdown-wrapper
    display: inline-block
    height: 60px

  .dropdown
    .menu__item
      display: block



@if $build

  +longtail--plain()

  .menu--longtail
    +longtail
