.albert.albert-rewrite
  .o_main
    .o_sub_menu_content
      .oe_secondary_menu
        &_section
          margin-top: $lh
          font-weight: 600
          text-transform: uppercase
          letter-spacing: .05em
          +color-link()