.albert.albert-rewrite
  .o_sub_menu
    padding-top: $lh/2
    padding-left: 10px
    border-right: 0 none
    background-color: transparent

  .oe_secondary_submenu
    > li.active
      > a
        border-radius: 5px 0 0 5px
        color:
        +hightlight('dark')
        +color-link('dark')