=dropdown--js-required()
  position: fixed
  left: 0
  right: 0

  padding: 0
  margin: 0

  &__items
    display: inline-block

    > *
      display: inline-block // fixme: remove the line

  +breakpoint(480px)
    position: static

=dropdown

  padding: 10px 0
  margin: 5px 0
  background-color: #fff
  border: 1px solid pal('border-master-light')
  border-radius: 4px

  +shadow(1, 'bottom')

  li,
  .menu__item
    display: block
    float: none

    &.active
      a,
      .menu__link
        border: 0 none
        +color('master-light')

    a,
    .menu__link
      display: block
      float: none
      padding: 5px 20px
      cursor: pointer

      transition: background-color .2s linear

      line-height: inherit
      +color('text')

      &:hover
        +color('master')
        +background('master-light')


=menu-dropdown()
  +dropdown--js-required
  background-color: #fff

@if $build
  .dropdown
    +dropdown
