body {
  font-family: 'Source Sans Pro'; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important; } }

.albert .open .dropdown-menu,
.albert .dropdown-menu {
  padding: 10px 0;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 200, 0.1);
  border-radius: 4px;
  box-shadow: 0 5px 50px rgba(0, 0, 100, 0.1);
  position: absolute;
  background-clip: inherit; }
  .albert .open .dropdown-menu li,
  .albert .open .dropdown-menu .menu__item,
  .albert .dropdown-menu li,
  .albert .dropdown-menu .menu__item {
    display: block;
    float: none; }
    .albert .open .dropdown-menu li.active a,
    .albert .open .dropdown-menu li.active .menu__link,
    .albert .open .dropdown-menu .menu__item.active a,
    .albert .open .dropdown-menu .menu__item.active .menu__link,
    .albert .dropdown-menu li.active a,
    .albert .dropdown-menu li.active .menu__link,
    .albert .dropdown-menu .menu__item.active a,
    .albert .dropdown-menu .menu__item.active .menu__link {
      border: 0 none; }
    .albert .open .dropdown-menu li a,
    .albert .open .dropdown-menu li .menu__link,
    .albert .open .dropdown-menu .menu__item a,
    .albert .open .dropdown-menu .menu__item .menu__link,
    .albert .dropdown-menu li a,
    .albert .dropdown-menu li .menu__link,
    .albert .dropdown-menu .menu__item a,
    .albert .dropdown-menu .menu__item .menu__link {
      display: block;
      float: none;
      padding: 5px 20px;
      cursor: pointer;
      transition: background-color .2s linear;
      line-height: inherit;
      color: #263238; }
      .albert .open .dropdown-menu li a:hover,
      .albert .open .dropdown-menu li .menu__link:hover,
      .albert .open .dropdown-menu .menu__item a:hover,
      .albert .open .dropdown-menu .menu__item .menu__link:hover,
      .albert .dropdown-menu li a:hover,
      .albert .dropdown-menu li .menu__link:hover,
      .albert .dropdown-menu .menu__item a:hover,
      .albert .dropdown-menu .menu__item .menu__link:hover {
        color: #5c6bc0;
        background-color: rgba(0, 0, 250, 0.1); }
  .albert .open .dropdown-menu .divider,
  .albert .dropdown-menu .divider {
    background-color: rgba(0, 0, 200, 0.1); }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.btn-primary {
  border-color: #3949ab;
  background-color: #3949ab; }

.btn-default {
  background-color: transparent;
  border-color: #5c6bc0;
  color: #5c6bc0; }
  .btn-default:hover {
    border-color: #303f9f; }
  .btn-default:hover {
    color: #303f9f; }
  .btn-default:hover {
    background-color: transparent; }

.albert {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; }

.albert-rewrite .oe_systray {
  margin: 0; }
  .albert-rewrite .oe_systray > li {
    float: left; }
    .albert-rewrite .oe_systray > li.open > a.dropdown-toggle:link, .albert-rewrite .oe_systray > li.open > a.dropdown-toggle:hover, .albert-rewrite .oe_systray > li.open > a.dropdown-toggle:active, .albert-rewrite .oe_systray > li.open > a.dropdown-toggle:focus {
      color: #607d8b;
      background: transparent; }
    .albert-rewrite .oe_systray > li > a.dropdown-toggle {
      margin: 0;
      padding: 0 20px;
      height: 60px;
      line-height: 62px;
      color: #b0bec5;
      background: transparent; }
      .albert-rewrite .oe_systray > li > a.dropdown-toggle:hover, .albert-rewrite .oe_systray > li > a.dropdown-toggle:active, .albert-rewrite .oe_systray > li > a.dropdown-toggle:focus {
        color: #607d8b;
        background: transparent; }

.header {
  height: 60px;
  z-index: 10;
  background: #fff;
  box-shadow: 0 5px 50px rgba(0, 0, 100, 0.1); }
  .header__inner {
    display: flex; }
  .header__menu {
    flex: 1;
    z-index: 1; }
  .header__user, .header__tray {
    z-index: 1; }

.header-logo {
  height: 60px;
  padding: 10px;
  display: inline-block; }
  .header-logo__img {
    max-height: 40px; }

.oe_user_menu_placeholder {
  padding: 0 20px; }

#oe_main_menu_navbar .o_user_menu > a.dropdown-toggle {
  margin: 0;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  background: transparent;
  cursor: pointer; }
  #oe_main_menu_navbar .o_user_menu > a.dropdown-toggle:hover .oe_topbar_avatar {
    border: 1px solid #303f9f; }
  #oe_main_menu_navbar .o_user_menu > a.dropdown-toggle .oe_topbar_avatar {
    display: inline-block;
    border: 1px solid #5c6bc0;
    max-height: 24px;
    width: 24px; }
  #oe_main_menu_navbar .o_user_menu > a.dropdown-toggle .oe_topbar_name {
    display: none; }

.albert-rewrite .breadcrumb {
  background-color: transparent; }

.albert.albert-rewrite .o_main .o_sub_menu_content .oe_secondary_menu_section {
  margin-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #5c6bc0; }
  .albert.albert-rewrite .o_main .o_sub_menu_content .oe_secondary_menu_section:hover {
    color: #303f9f; }

.albert.albert-rewrite .o_sub_menu {
  padding-top: 10px;
  padding-left: 10px;
  border-right: 0 none;
  background-color: transparent; }

.albert.albert-rewrite .oe_secondary_submenu > li.active > a {
  border-radius: 5px 0 0 5px;
  background-color: #e8eaf6;
  color: #303f9f; }
  .albert.albert-rewrite .oe_secondary_submenu > li.active > a:hover {
    color: #1a237e; }

.feather {
  width: 16px;
  max-height: 16px;
  display: inline; }

a {
  color: #5c6bc0; }
  a:hover {
    color: #303f9f; }

a, button {
  transition: all .075s linear; }

.albert {
  background-color: #f5f8fc; }

.albert-rewrite .o_main .o_control_panel {
  background-color: transparent; }

.o_view_manager_content .table-responsive {
  margin: 0 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 50px rgba(0, 0, 100, 0.1); }

.o_control_panel {
  padding: 20px;
  border-bottom: 0 none; }

.o_list_buttons > button {
  margin-right: 10px; }

