body {
  font-family: 'Source Sans Pro'; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.flipInX {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.flipOutX {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important; } }

.dropdown {
  padding: 10px 0;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 200, 0.1);
  border-radius: 4px;
  box-shadow: 0 5px 50px rgba(0, 0, 100, 0.1); }
  .dropdown li,
  .dropdown .menu__item {
    display: block;
    float: none; }
    .dropdown li.active a,
    .dropdown li.active .menu__link,
    .dropdown .menu__item.active a,
    .dropdown .menu__item.active .menu__link {
      border: 0 none; }
    .dropdown li a,
    .dropdown li .menu__link,
    .dropdown .menu__item a,
    .dropdown .menu__item .menu__link {
      display: block;
      float: none;
      padding: 5px 20px;
      cursor: pointer;
      transition: background-color .2s linear;
      line-height: inherit;
      color: #263238; }
      .dropdown li a:hover,
      .dropdown li .menu__link:hover,
      .dropdown .menu__item a:hover,
      .dropdown .menu__item .menu__link:hover {
        color: #5c6bc0;
        background-color: rgba(0, 0, 250, 0.1); }

.priority-nav {
  white-space: nowrap; }
  .priority-nav .priority-nav-has-dropdown .priority-nav__dropdown-toggle {
    position: relative; }
  .priority-nav .priority-nav__wrapper {
    position: relative; }
  .priority-nav .priority-nav__dropdown {
    position: absolute;
    visibility: hidden;
    transition: opacity .05s linear;
    opacity: 0; }
    .priority-nav .priority-nav__dropdown.show {
      visibility: visible;
      opacity: 1;
      -webkit-animation-duration: .3s;
      animation-duration: .3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
      -webkit-animation-name: flip;
      animation-name: flip;
      -webkit-backface-visibility: visible !important;
      backface-visibility: visible !important;
      -webkit-animation-name: flipInX;
      animation-name: flipInX; }
  .priority-nav .priority-nav-toggle {
    position: absolute;
    visibility: hidden; }
  .priority-nav .priority-nav-is-visible {
    visibility: visible; }
  .priority-nav .priority-nav-is-hidden {
    visibility: hidden; }

.menu--longtail {
  position: relative; }
  .menu--longtail .menu__items {
    display: inline-block !important; }
  .menu--longtail .menu__item {
    display: inline-block; }
  .menu--longtail .menu__tail {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border: 0;
    padding: 0 10px;
    background: transparent;
    cursor: pointer;
    letter-spacing: .15em;
    color: gray;
    transform: rotate(90deg); }
    .menu--longtail .menu__tail:hover, .menu--longtail .menu__tail:active, .menu--longtail .menu__tail:focus {
      outline: none;
      color: #b0bec5; }
    .menu--longtail .menu__tail.is-open {
      transform: rotate(0deg);
      color: #5c6bc0; }
  .menu--longtail .dropdown-wrapper {
    display: inline-block;
    height: 60px; }
  .menu--longtail .dropdown .menu__item {
    display: block; }

.menu--tabs .menu {
  width: 100%;
  height: 60px; }
  .menu--tabs .menu__item {
    display: inline-block; }
  .menu--tabs .menu__link {
    text-decoration: none;
    color: #b0bec5;
    display: block;
    margin: 0;
    padding: 0 10px;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0.5px; }
    .menu--tabs .menu__link:hover {
      color: #607d8b; }

.menu--tabs .active .menu__link {
  text-decoration: none;
  color: #5c6bc0;
  border-bottom: 1px solid#5c6bc0; }
  .menu--tabs .active .menu__link:hover {
    color: #303f9f; }

.albert .open .dropdown-menu,
.albert .dropdown-menu {
  padding: 10px 0;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 200, 0.1);
  border-radius: 4px;
  box-shadow: 0 5px 50px rgba(0, 0, 100, 0.1);
  position: absolute;
  background-clip: inherit; }
  .albert .open .dropdown-menu li,
  .albert .open .dropdown-menu .menu__item,
  .albert .dropdown-menu li,
  .albert .dropdown-menu .menu__item {
    display: block;
    float: none; }
    .albert .open .dropdown-menu li.active a,
    .albert .open .dropdown-menu li.active .menu__link,
    .albert .open .dropdown-menu .menu__item.active a,
    .albert .open .dropdown-menu .menu__item.active .menu__link,
    .albert .dropdown-menu li.active a,
    .albert .dropdown-menu li.active .menu__link,
    .albert .dropdown-menu .menu__item.active a,
    .albert .dropdown-menu .menu__item.active .menu__link {
      border: 0 none; }
    .albert .open .dropdown-menu li a,
    .albert .open .dropdown-menu li .menu__link,
    .albert .open .dropdown-menu .menu__item a,
    .albert .open .dropdown-menu .menu__item .menu__link,
    .albert .dropdown-menu li a,
    .albert .dropdown-menu li .menu__link,
    .albert .dropdown-menu .menu__item a,
    .albert .dropdown-menu .menu__item .menu__link {
      display: block;
      float: none;
      padding: 5px 20px;
      cursor: pointer;
      transition: background-color .2s linear;
      line-height: inherit;
      color: #263238; }
      .albert .open .dropdown-menu li a:hover,
      .albert .open .dropdown-menu li .menu__link:hover,
      .albert .open .dropdown-menu .menu__item a:hover,
      .albert .open .dropdown-menu .menu__item .menu__link:hover,
      .albert .dropdown-menu li a:hover,
      .albert .dropdown-menu li .menu__link:hover,
      .albert .dropdown-menu .menu__item a:hover,
      .albert .dropdown-menu .menu__item .menu__link:hover {
        color: #5c6bc0;
        background-color: rgba(0, 0, 250, 0.1); }
  .albert .open .dropdown-menu .divider,
  .albert .dropdown-menu .divider {
    background-color: rgba(0, 0, 200, 0.1); }

