$tabs-height-sm: $lh * 1.5
$tabs-height-md: $lh * 3
$tabs-border-width: 1

=menu-tabs-plain
  width: 100%
  height: $tabs-height-md
  &__item
    display: inline-block

=menu-tabs
  .menu
    +menu-tabs-plain

    &__link
      +link('grey')
      display: block
      margin: 0
      padding: 0 10px
      border-bottom: $tabs-border-width + px solid transparent

      font-size: font-size('sm')
      font-weight: 400
      line-height: $tabs-height-md - $tabs-border-width
      letter-spacing: 0.5px

  .active
    .menu__link
      +link('master')
      border-bottom: $tabs-border-width + px solid +pal('link-master')




@if $build
  .menu--tabs
    +menu-tabs
