body {
  font-family: 'Source Sans Pro'; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important; } }

.albert .open .dropdown-menu,
.albert .dropdown-menu {
  padding: 10px 0;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 200, 0.1);
  border-radius: 4px;
  box-shadow: 0 5px 50px rgba(0, 0, 100, 0.1);
  position: absolute;
  background-clip: inherit; }
  .albert .open .dropdown-menu li,
  .albert .open .dropdown-menu .menu__item,
  .albert .dropdown-menu li,
  .albert .dropdown-menu .menu__item {
    display: block;
    float: none; }
    .albert .open .dropdown-menu li.active a,
    .albert .open .dropdown-menu li.active .menu__link,
    .albert .open .dropdown-menu .menu__item.active a,
    .albert .open .dropdown-menu .menu__item.active .menu__link,
    .albert .dropdown-menu li.active a,
    .albert .dropdown-menu li.active .menu__link,
    .albert .dropdown-menu .menu__item.active a,
    .albert .dropdown-menu .menu__item.active .menu__link {
      border: 0 none; }
    .albert .open .dropdown-menu li a,
    .albert .open .dropdown-menu li .menu__link,
    .albert .open .dropdown-menu .menu__item a,
    .albert .open .dropdown-menu .menu__item .menu__link,
    .albert .dropdown-menu li a,
    .albert .dropdown-menu li .menu__link,
    .albert .dropdown-menu .menu__item a,
    .albert .dropdown-menu .menu__item .menu__link {
      display: block;
      float: none;
      padding: 5px 20px;
      cursor: pointer;
      transition: background-color .2s linear;
      line-height: inherit;
      color: #263238; }
      .albert .open .dropdown-menu li a:hover,
      .albert .open .dropdown-menu li .menu__link:hover,
      .albert .open .dropdown-menu .menu__item a:hover,
      .albert .open .dropdown-menu .menu__item .menu__link:hover,
      .albert .dropdown-menu li a:hover,
      .albert .dropdown-menu li .menu__link:hover,
      .albert .dropdown-menu .menu__item a:hover,
      .albert .dropdown-menu .menu__item .menu__link:hover {
        color: #5c6bc0;
        background-color: rgba(0, 0, 250, 0.1); }
  .albert .open .dropdown-menu .divider,
  .albert .dropdown-menu .divider {
    background-color: rgba(0, 0, 200, 0.1); }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.albert-rewrite .oe_systray .o_mail_navbar_item .o_notification_counter {
  background: red; }

.albert-rewrite .oe_systray .o_mail_navbar_dropdown {
  position: fixed;
  top: 60px;
  border: 0 none;
  bottom: 0;
  border-color: transparent;
  box-shadow: 0 10px 40px rgba(0, 0, 100, 0.1); }
  .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top {
    height: 50px; }
    .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_filter_button {
      display: block;
      float: left;
      height: 100%;
      padding: 15px 20px;
      border: 0 none;
      color: #b0bec5; }
      .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_filter_button:hover, .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_filter_button.active {
        font-weight: 400;
        color: #5c6bc0; }
        .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_filter_button:hover:hover, .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_filter_button.active:hover {
          color: #303f9f; }
      .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_filter_button.active {
        background-color: #edf2fa; }
      .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_filter_button:focus {
        outline: none; }
    .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_new_message {
      display: inline-block;
      height: 26px;
      padding: 5px;
      margin: 12px;
      border: 1px solid;
      font-size: 12px;
      line-height: 14px;
      border-radius: 3px;
      transition: all .1s ease-out;
      border-color: #5c6bc0;
      color: #5c6bc0;
      color: #5c6bc0; }
      .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_new_message:hover {
        border-color: #303f9f; }
      .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_new_message:hover {
        color: #303f9f; }
      .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_new_message:hover {
        color: #303f9f; }
  .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_channels {
    max-height: none; }
    .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_channels .o_mail_channel_preview {
      height: 65px;
      padding: 10px 15px; }
      .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_channels .o_mail_channel_preview.o_channel_unread .o_channel_info .o_channel_title .o_channel_name,
      .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_channels .o_mail_channel_preview.o_channel_unread .o_channel_info .o_channel_title .o_channel_counter {
        font-weight: 600; }
      .albert-rewrite .oe_systray .o_mail_navbar_dropdown .o_mail_navbar_dropdown_channels .o_mail_channel_preview .o_channel_info .o_channel_title .o_last_message_date {
        color: #5c6bc0; }

.albert-rewrite .o_channel_title {
  margin-bottom: 5px; }

.albert-rewrite .o_channel_info .o_last_message_preview {
  color: #5c6bc0; }

.albert-rewrite .o_mail_channel_preview.o_channel_unread:hover {
  background-color: #f5f8fc; }

