.albert-rewrite

  .oe_systray

    .o_mail_navbar_item
      .o_notification_counter
        background: red

    .o_mail_navbar_dropdown
      position: fixed
      top: $headerHeight
      border: 0 none
      bottom: 0

      border-color: $headerBorderColor
      +shadow(2, 'left')

      .o_mail_navbar_dropdown_top

        height: $mailNavHeight

        .o_filter_button
          display: block
          float: left
          height: 100%
          padding: 15px 20px
          border: 0 none

          color: $linkGrayLightColor

          &:hover,
          &.active
            font-weight: 400
            +color-link()
          &.active
            +hightlight('base')
          &:focus
            outline: none

        .o_new_message
          +btn-sm($containerHeight: $mailNavHeight)
          +color-link()

      .o_mail_navbar_dropdown_channels

        max-height: none

        .o_mail_channel_preview
          height: 65px
          padding: 10px 15px

          &.o_channel_unread
            .o_channel_info
              .o_channel_title
                .o_channel_name,
                .o_channel_counter
                  font-weight: 600

          .o_channel_info .o_channel_title .o_last_message_date
            color: $cpLink


  .o_channel_title
    margin-bottom: 5px

  .o_channel_info
    .o_last_message_preview
      color: $cpLink

  .o_mail_channel_preview
    &.o_channel_unread
      &:hover
        +hightlight()