$mailNavHeight: 50px

.albert-rewrite
  .oe_systray

    margin: 0

    > li
      float: left
      &.open
        > a.dropdown-toggle
          &:link,
          &:hover,
          &:active,
          &:focus
            color: $linkGrayLightHoverColor
            background: transparent

      > a.dropdown-toggle

        margin: 0
        padding: 0 20px
        height: $headerHeight
        line-height: $headerHeight + 2  // fix svg icon margin

        color: $linkGrayLightColor
        background: transparent

        &:hover,
        &:active,
        &:focus
          color: $linkGrayLightHoverColor
          background: transparent
