$headerInnerHeight: $headerHeight - $headerBorderHeight


.header

  height: $lh * 3
  z-index: 10

  background: #fff
  +shadow(1, 'bottom')

  &__inner
    display: flex
  &__menu
    flex: 1
    z-index: 1
  &__user,
  &__tray
    z-index: 1


