.oe_user_menu_placeholder
  padding: 0 20px

#oe_main_menu_navbar
  .o_user_menu
    > a.dropdown-toggle
      margin: 0
      padding: 0 20px
      height: $headerHeight
      line-height: $headerHeight
      background: transparent
      cursor: pointer

      &:hover
        .oe_topbar_avatar
          border: 1px solid $cpLinkHover

      .oe_topbar_avatar
        display: inline-block
        border: 1px solid $cpLink
        max-height: 24px
        width: 24px

      .oe_topbar_name
        display: none