.btn-primary
  border-color: material-color('indigo', '600')
  background-color: material-color('indigo', '600')
.btn-default
  background-color: transparent
  +color-link($border: 'true')
  &:hover
    background-color: transparent
