$build: false
@import "albert/index"

@import "~sass-material-colors"
@import "~breakpoint-sass"

$lineHeight: 20px
$lh: $lineHeight

$cpLink: material-color('indigo', '400')
$cpLinkHover: material-color('indigo', '700')

$linkGrayLightColor:  material-color('blue-grey', '200')
$linkGrayLightHoverColor:  material-color('blue-grey', '500')

$cpBorderGray: material-color('blue-grey', '200')
$cpBorderGrayLight: material-color('blue-grey', '100')

$cpShadowOneLeft: 0 10px 20px rgba(0, 0, 100, 0.2)
$cpShadowOneLeft: 0 10px 20px rgba(0, 0, 100, 0.2)

$shadow-one: ('left': 0 10px 20px rgba(0, 0, 100, 0.2),'right': 0 10px 20px rgba(0, 0, 100, 0.2))

// Viewports
$break-xs:              467px
$break-sm:              767px
$break-md:              1023px
$break-lg:              1200px


// Layout
$headerHeight: $lh*3
$headerBackground: #fff
$headerBorderHeight: 1
$headerBorderColor: transparent  // $cpBorderGrayLight


// Applications
$mailNavHeight: 50px !default

=color-link($name: 'base', $border: '')

  $color: material-color('indigo', '400')
  $hover: material-color('indigo', '700')

  @if $name == 'light'
    $color: material-color('indigo', '200')
    $hover: material-color('indigo', '400')

  @if $name == 'dark'
    $color: material-color('indigo', '700')
    $hover: material-color('indigo', '900')

  @if $border != ''
    border-color: $color
    &:hover
      border-color: $hover

  color: $color

  &:hover
    color: $hover

=hightlight($name: 'light')
  $color: #edf2fa

  @if $name == 'light'
    $color: #f5f8fc
  @if $name == 'dark'
    $color: material-color('indigo', '50')

  background-color: $color

=background()
  $color: material-color('indigo', '400')

  background-color: $color

=btn-sm($containerHeight: 50px)

  display: inline-block
  height: 26px
  padding: 5px
  margin: ($containerHeight - 26) / 2
  border: 1px solid

  font-size: 12px
  line-height: 14px
  border-radius: 3px
  transition: all .1s ease-out

  +color-link($border: true)

