=animated
  -webkit-animation-duration: .3s
  animation-duration: .3s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

$effects: 'flipInX' 'flipOutX'

@if $build
  .animated
    +animated

  @each $effect in $effects
    .#{$effect}
      +animated

=animate($effect, $duration: .2s)
  +animated

  @if str-index($effect, 'flip')
    -webkit-backface-visibility: visible
    backface-visibility: visible
    -webkit-animation-name: flip
    animation-name: flip

  @if $effect == 'flipInX'
    -webkit-backface-visibility: visible !important
    backface-visibility: visible !important
    -webkit-animation-name: flipInX
    animation-name: flipInX

  @if $effect == 'flipOutX'
    -webkit-animation-duration: $duration
    animation-duration: $duration
    -webkit-animation-name: flipOutX
    animation-name: flipOutX
    -webkit-backface-visibility: visible !important
    backface-visibility: visible !important



@-webkit-keyframes flipInX 
  from 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
    opacity: 0
  

  40% 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
  

  60% 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1
  

  80% 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
  

  to 
    -webkit-transform: perspective(400px)
    transform: perspective(400px)
  


@keyframes flipInX 
  from 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
    opacity: 0
  

  40% 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
  

  60% 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1
  

  80% 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
  

  to 
    -webkit-transform: perspective(400px)
    transform: perspective(400px)



@-webkit-keyframes flipOutX 
  from 
    -webkit-transform: perspective(400px)
    transform: perspective(400px)
  

  30% 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    opacity: 1
  

  to 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    opacity: 0
  


@keyframes flipOutX 
  from 
    -webkit-transform: perspective(400px)
    transform: perspective(400px)
  

  30% 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    opacity: 1
  

  to 
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    opacity: 0



@media (prefers-reduced-motion) 
  .animated 
    -webkit-animation: unset !important
    animation: unset !important
    -webkit-transition: none !important
    transition: none !important
  
